# Core
Django>=6.0,<7.0
python-dotenv>=1.0.0
whitenoise>=6.8.0

# Media / cloud
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
requests>=2.10.0

# Apps
django-bleach>=3.0,<4
django-jazzmin>=2.6.0
django-ckeditor>=6.6.0
Pillow>=10.0.0
